.mod-settings .setting-item.strava-sync-authenticate button {
  cursor: pointer;
  border: none;
  appearance: none;
  height: 48px;
  width: 193px;
  box-shadow: none;
}

.mod-settings .setting-item.strava-sync-authenticate button img {
  width: 193px;
  height: 48px;
}

.strava-powered-by {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.strava-powered-by img {
  width: 200px;
}
